---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <link href="{{ site.url }}/"/>
  <link rel="self" href="{{ site.url }}/feed.xml"/>
  <id>{{ site.url }}/</id>
  <updated>{{ collections.post[0].date | isodate }}</updated>
  <author><name>{{ site.name }}</name></author>
  {% for p in collections.post %}
  <entry>
    <title>{{ p.data.title }}</title>
    <link href="{{ site.url }}{{ p.url }}"/>
    <id>{{ site.url }}{{ p.url }}</id>
    <updated>{{ p.date | isodate }}</updated>
    <summary>{{ p.data.description }}</summary>
  </entry>
  {% endfor %}
</feed>
